<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="chart.css">

<!-- Use double-quotes for HTML attributes; single-quotes for JS/Pebble strings. -->
<table id="tiles" cellspacing="0" cellpadding="0">
  {% for tileRow in tileRows %}
    <tr>
      {% for tile in tileRow %}
        {% set id = tile.item.conceptIds | first %}
        {% set values = tile.points | values %}
        {% set class = values | format_values(tile.item.cssClass) %}
        {% set style = values | format_values(tile.item.cssStyle) %}
        <td id="tile-{{id}}" class="tile concept-{{id}} {{class}}" style="{{style}}" width="{{100.0 / tileRow.size}}%">
          <div class="heading">{{tile.item.label}}</div>
          <div class="value">{{values | format_values(tile.item.format) | line_break_html | raw}}</div>
          <div class="caption">{{values | format_values(tile.item.captionFormat) | line_break_html | raw}}</div>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<div id="grid-scroller" style="width: 100%; overflow: scroll">
  <table id="grid" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th> </th>
        {% set prevColumn = null %}
        {% for column in columns %}
          {% if prevColumn is not null and column.start != prevColumn.stop %}
            <th class="gap" scope="col">&nbsp;</th>
          {% endif %}
          <th class="{{column.start == nowColumnStart ? 'now' : ''}}" scope="col">
            {{column.headingHtml | raw}}
          </th>
          {% set prevColumn = column %}
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="rowgroup">
          Observations
        </th>
        {% for column in columns %}
          {% if prevColumn is not null and column.start != prevColumn.stop %}
            <th scope="rowgroup" class="gap" rowspan={{rows.size + 1}}>&nbsp;</th>
          {% endif %}
          <th scope="rowgroup"></th>
          {% set prevColumn = column %}
        {% endfor %}
      </tr>
      {% for row in rows %}
        {% set id = row.item.conceptIds | first %}
        <tr class="obs concept-{{id}} {{ row.item.label | tosafechars }}">
          <th scope="row">
            {{row.item.label}}
          </th>
          {% for column in columns %}
            {% set points = get_all_points(row=row, column=column) %}
            {% if points is empty %}
              {% set summaryValue = null %}
            {% elseif row.item.type == 'yes_no' %}
              {% set summaryValue = points | values | max %}
            {% else %}
              {% set summaryValue = (points | last).value %}
            {% endif %}
            {% set class = summaryValue | format_values(row.item.cssClass) %}
            {% set style = summaryValue | format_values(row.item.cssStyle) %}
            <td id="cell-{{id}}-{{column.start.millis}}"
                data-start="{{column.start.millis}}"
                data-stop="{{column.stop.millis}}"
                class="{{column.start == nowColumnStart ? 'now' : ''}} {{class}}"
                style="{{style}}" onclick="popup({{row.item.label | js}},
              {% if points is empty %}
                []
              {% else %}
                [ {%- for point in points -%}
                  [{{point.value | format_value(row.item.captionFormat) | js}},
                   {{point.time | format_time('HH:mm') | js}}],
                {%- endfor -%} ]
              {% endif %} )">
              {% if points is not empty %}
                {% if row.item.type == 'text_icon' %}
                  <div onclick="alert(''
                        {%- for point in points -%}
                          + '---- '
                          + {{point.time | format_time('dd MMM \'at\' HH:mm') | js}}
                          + ' ----\n'
                          + {{point.value.text | js}}
                          + '\n\n'
                        {%- endfor -%}); event.stopPropagation();">&#x1f4dd;</div>
                {% else %}
                  {% set output = summaryValue | format_value(row.item.format) %}
                  {% if output is empty %}
                    {% set output = summaryValue | format_value(row.item.captionFormat) %}
                  {% endif %}
                  {{output}}
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

    <tbody>
      <tr>
        <th scope="rowgroup">
          Treatment Plan
        </th>
        {% for column in columns %}
          {% if prevColumn is not null and column.start != prevColumn.stop %}
            <th scope="rowgroup" class="gap" rowspan={{orders.size + 1}}>&nbsp;</th>
          {% endif %}
          <th scope="rowgroup"></th>
          {% set prevColumn = column %}
        {% endfor %}
      </tr>
      {% for order in orders %}
        <tr class="order">
          <th scope="row" onclick="controller.onOrderHeadingPressed('{{order.uuid}}')">
            <div class="medication">{{order.medication}}</div>
            <div>{{order.dosage}}&nbsp;</div>
          </th>
          {% set previousActive = false %}
          {% set future = false %}
          {% for column in columns %}
            <td class="{{column.start == nowColumnStart ? 'now' : ''}}">
              {% set active = intervals_overlap(order.interval, column.interval) %}
              {% if future and order.stop == null %}
                <div class="future">&nbsp;</div>
              {% elseif order.stop != null and previousActive and not active %}
                <div class="stop">Stop</div>
              {% elseif active %}
                {% if future %}
                  <div class="future active">&#x25cf;</div>
                {% else %}
                  {% set count = get_order_execution_count(order_uuid=order.uuid, column=column) %}
                  <div class="past active"
                      onclick="controller.onOrderCellPressed('{{order.uuid}}', {{column.start.getMillis}})"
                      >{{count}}</div>
                {% endif %}
              {% endif %}
              {% set previousActive = active %}
              {% set future = future or column.start == nowColumnStart %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}

      <tr>
        <th scope="row" class="command" onclick="controller.onNewOrderPressed()">
          Add a New Treatment
        </th>
      </tr>
    </tbody>
  </table>
</div>

<script src="jquery-1.5.1.min.js"></script>
<script src="freezeheader.js"></script>
<script src="chart.js"></script>
<script>
  var data = {{dataCellsByConceptId | raw}};

  {% for tileRow in tileRows %}
    {% for tile in tileRow %}
      {% if tile.item.script is not empty %}
        runTileScript(data, {{tile.item.conceptIds | join(',') | js | raw}}, {{tile.item.script | js | raw}});
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for row in rows %}
    {% if row.item.script is not empty %}
      runChartRowScript(data, {{row.item.conceptIds | join(',') | js | raw}}, {{row.item.script | js | raw}});
    {% endif %}
  {% endfor %}

  $('#grid').freezeHeader({top: true, left: true});
  $('#grid-scroller').scrollLeft(1e6);
</script>
