/* Use rem for font sizes and scalable margins/paddings (1 rem = 10 sp). */
/* Use em for scalable margins/paddings relative to current font size. */
/* Use px for non-scalable margins/paddings (1 px = 1 dp). */

* { box-sizing: border-box; }
body { margin: 0; }
div, th, td { text-overflow: ellipsis; }
th, td, table div { overflow: hidden; }
th, td { font-weight: normal; text-align: left; vertical-align: baseline; }

/* Scrolling */
#scroller { display: flex; flex-direction: row; width: 100%; }
#grid { visibility: hidden; }
#grid-left { flex-basis: 0; flex-grow: 0; }
#grid-body { flex-basis: 0; flex-grow: 1; overflow: scroll; position: relative; }

#buttons button {
  font-size: 3.2rem;
  -webkit-text-stroke: 0.2rem black;
  opacity: 0.4;
  width: 6rem;
  height: 6rem;
  padding-top: 0.3rem; /* adjust the centering of the arrow */
  background: transparent;
  border: none;
  outline: none;
  position: fixed;
  right: 0;
  bottom: 0;
}
#buttons button[disabled] { opacity: 0.15; color: black; }
#buttons button::before { content: '\00279c'; }
button#home::before { content: '\0025c9'; }
button#up { transform: rotate(270deg); }
button#left { transform: rotate(180deg); }
button#down { transform: rotate(90deg); }
button#left { right: 12rem; }
button#home { right: 6rem; }
button#up { bottom: 12rem; }
button#down { bottom: 6rem; }

/* Apply borders to all cells so their sizes are uniform. */
.top th { border-top: 1px solid transparent; }
th, td { border: 1px solid transparent; border-width: 0 1px 1px 0; }

/* Grid lines */
thead th.day { border-top-color: #666; }
thead tr:last-child th { border-bottom-color: #666; }
thead th { border-right-color: #ddd; }

tbody.orders th[scope="rowgroup"] { border-top-color: #666; }
tbody th, tbody td { border-bottom-color: #ddd; }

tbody th, .corner, .day, .day-last, .gap { border-right: 1px solid #666; }
tbody td { border-right: 1px solid #ddd; }
.division { border-right: 1px solid #ddd; }
.division:last-child { border-right: none; }
.command { border-right: transparent; }

/* Column shading */
.now { font-weight: bold; background: #e0f0ff; }

th.gap, th[scope="rowgroup"].gap {
  min-width: 1.5rem;
  background: repeating-linear-gradient(
      45deg, #fff, #fff 10px, #eee 10px, #eee 20px);
}

/* Left margin */
#grid-left th { padding-left: 16px; min-width: 20rem; max-width: 20rem; }

/* Grid text: should match @style/text */
th, td, .division, .summary {
  font-size: 1.9rem;
  line-height: 1.3; /* ensure that rows have uniform height */
  padding: 0.6em 0 0.5em; /* extra 0.1em on top for vertical centering */
  white-space: nowrap;
  overflow: hidden;
}

/* Grid cells */
thead th, .obs td, .order td { text-align: center; min-width: 6rem; max-width: 6rem; }
tbody th, tbody td { height: 4.5rem; }

/* Column headings: should match @style/text.caption */
thead th {
  font-size: 1.4rem;
  padding: 0.2em 0;
  white-space: nowrap;
}

/* Row headings: should match @style/text.caps */
th[scope="rowgroup"] {
  font-size: 1.4rem;
  font-weight: bold;
  padding-top: 1.6em;
  text-transform: uppercase;
  background: #eee;
}

/* Orders */
.order th { padding: 0 4px 0 16px; line-height: 1.1em; vertical-align: middle; }
.medication { font-weight: bold; }
.route-IV .medication { color: #c60; }
.route-PO .medication { color: #084; }

.order td { position: relative; }  /* contains positioned .divisions and .summary */
.order .divisions, .order .summary {
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}

.order .divisions { display: flex; flex-direction: row; }  /* contains flexed .division */
.order .division { flex-basis: 0; flex-grow: 1; }

.order .past.underdose { background: #fed; }
.order .now.underdose { background: #fcc; }
.order .future.underdose { background: #eee; }
.order .full-dose { background: #dfd; }
.order .overdose { background: #ecf; }
.order .overdose .given, .order .overdose .extra-given { color: #c00; }

.division { position: relative; overflow: visible; }  /* contains positioned .execution */
.execution {
  width: 0.3rem;
  margin-left: -0.15rem;
  position: absolute;
  top: 70%;
  bottom: 0;
  opacity: 0.3;
  background: #000;
  z-index: 1;
}
.past.underdose .execution { background: #f80; }
.now.underdose .execution { background: #f00; }
.full-dose .execution { background: #080; }
.overdose .execution { background: #80f; }

th.command { /* should match @style/ActionButton */
  font-weight: bold;
  color: #09e;
  text-transform: uppercase;
  padding-bottom: 3.8rem;
  overflow: visible;
}
.order .notes {
  float: right;
  max-width: 40%;
  font-size: 1.4rem; /* should match @style/text.caption */
  color: #c40;
  line-height: 4rem;
  overflow: hidden;
}
.order .notes + .medication { max-width: 60%; }

/* Frozen headings */
.frozen { position: fixed; top: 0; background: #fff; }
.floating { position: absolute; background: #fff; }
#grid-left .frozen { background: #fff; z-index: 1; }

/* Tiles */
#tiles { width: 100%; }
.row { display: flex; flex-direction: row; }
.tile { flex-basis: 0; flex-grow: 1; padding: 1rem 0 1rem 16px; }
.tile, .tile div { overflow: hidden; white-space: nowrap; }
.tile .heading { /* should match @style/text.caps */
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.tile .value { /* should match @style/text.huge */
  font-size: 3.2rem;
  font-family: sans-serif-light;
}
.tile .caption { /* should match @style/text.caption */
  font-size: 1.4rem;
}

/* In-range / out-of-range colours */
.critical { color: #ff0000; }
.abnormal { color: #ff9500; }
.borderline { color: #aa6600; }
.normal { color: #4caf50; }

