/* Specify font sizes and scalable margins/paddings in rem (1 rem = 10 sp). */
/* Specify scalable margins/paddings relative to the current font size in em. */
/* Specify non-scalable margins and paddings in px (1 px = 1 dp). */

body { margin: 0; }
div, th, td { text-overflow: ellipsis; }
table { background: #fff; } /* opaque so that frozen headers are opaque */
th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: baseline;
}

/* Grid lines */
/* TODO: Adding left/right padding >0 breaks frozen headers.  Figure out why. */
#grid thead th.day {
  border-top: 1px solid #666;
}

#grid thead tr:last-child th, #grid thead th.gap {
  border-bottom: 1px solid #666;
}

#grid th[scope="row"], #grid td {
  border-bottom: 1px solid #ddd;
}

#grid th, #grid td {
  border-right: 1px solid #ddd;
}

#grid th, #grid td, #grid .order .division, #grid .order .summary {
  padding: 0.6em 0 0.5em; /* extra 0.1em on top for vertical centering */
  /* Some symbols have a different height than other characters, so we need */
  /* to set the line-height to ensure that rows have uniform height. */
  line-height: 1.3;
}

#grid .day, #grid .day-last, #grid th[scope="rowgroup"].day-last,
#grid .gap, #grid th[scope="rowgroup"].gap,
#grid th[scope="rowgroup"]:first-child, #grid th[scope="row"], #grid th.corner {
  border-right: 1px solid #666;
}

#grid th[scope="rowgroup"], #grid th.command {
  border-right: none;
}

#grid th[scope="row"] {
  padding-left: 16px;
}

/* History grid: cells should match @style/text */
#grid th[scope="row"], #grid td { font-size: 1.9rem; } /* @style/text */
#grid-scroller { position: relative; } /* for overlays with position: absolute */

/* Row and column shading */
#grid .now { font-weight: bold; background: #e0f0ff; }

/* Column headers: should match @style/text.caption */
/* TODO: Adding left/right padding >0 breaks frozen headers.  Figure out why. */
#grid thead th {
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 0.2em 0;
}
#grid th.gap, #grid th[scope="rowgroup"].gap {
  background: repeating-linear-gradient(45deg, #fff, #fff 10px, #eee 10px, #eee 20px);
}

/* Row headers: should match @style/text.caps */
#grid tbody th { white-space: nowrap; }
#grid th[scope="rowgroup"] {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  background: #eee;
  padding-top: 1.6em;
  padding-left: 16px;
}
#grid th[scope="row"] { overflow: hidden; }
/* TODO: Specifying max-width in vw doesn't work here.  Figure out why. */
#grid th[scope="row"] div { max-width: 24rem; overflow: hidden; }

/* Cells: text should match @style/text */
.obs td, .order td { text-align: center; min-width: 3em; }

/* Orders */
#grid .order th { padding: 0 16px; line-height: 1.2em; vertical-align: middle; }
#grid .order td { position: relative; }
#grid .order .divisions { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: flex; flex-direction: row; }
#grid .order .summary { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
#grid .order .division { flex-basis: 0; flex-grow: 1; }
#grid .order .division:last-child { border-right: none; }
#grid .order .stop { color: #f66; font-size: 1.5rem; font-weight: bold; text-transform: uppercase; padding-top: 1em; }
#grid .order .scheduled { background: #ddd; }
#grid .order .past.underdose { background: #fda; }
#grid .order .now.underdose { background: #faa; }
#grid .order .full-dose { background: #afa; }
#grid .order .overdose { background: #c8f; }
#grid .order .overdose .given, .order .overdose .extra-given { color: #c00; }

.order .medication { font-weight: bold; }
#grid th[scope="row"].command { /* matches @style/ActionButton */
  color: #09e;
  background: #fff;
  text-transform: uppercase;
  font-size: 1.9rem;
  padding-bottom: 3.8rem;
  font-weight: bold;
}

/* Tiles */
#tiles { table-layout: fixed; width: 100%; }
.tile { height: 3rem; overflow: hidden; white-space: nowrap; padding: 1rem 8px 1rem 16px; }
.tile div { width: 100%; overflow: hidden; }
.tile .heading { /* should match @style/text.caps */
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.tile .value { /* should match @style/text.huge */
  font-size: 3.2rem;
  font-family: sans-serif-light;
}
.tile .caption { /* should match @style/text.caption */
  font-size: 1.4rem;
}

/* In-range / out-of-range colours */
.critical { color: #ff0000; }
.abnormal { color: #ff9500; }
.borderline { color: #aa6600; }
.good { color: #4caf50; }
