<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<style>
  /* Specify font sizes in em (1 em = 10 sp). */
  /* Specify margins and paddings in px (1 px = 1 dp). */

  body { margin: 0; }
  div, th, td { text-overflow: ellipsis; }
  table { background: #fff; }  /* opaque so that frozen headers are opaque */
  th, td {
    font-weight: normal;
    padding: 8px 0;
    text-align: left;
    vertical-align: baseline;

    /* Use linear-gradient to get a border thickness of 1 device pixel. */
    background-image: linear-gradient(
        90deg, transparent 33%, rgba(0, 0, 0, 0.2) 33%, rgba(0, 0, 0, 0.2));
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  /* History grid */
  #grid th[scope="row"], #grid td { font-size: 2.4em; }

  /* Row and column shading */
  #grid .now { font-weight: bold; background: #e0f0ff; }
  #grid tr:nth-child(even) { background: #f8f8f8; }
  #grid tr:nth-child(even) .now { background: #d8e8f8; }

  /* Column headers */
  thead th { text-align: center; font-size: 1.8em; padding: 8px 0; }

  /* Row headers */
  tbody th { white-space: nowrap; padding: 8px 16px; }
  tbody th[scope="rowgroup"] {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    background: #fff;
  }
  tbody + tbody th[scope="rowgroup"] {
    padding-top: 3.6em;
  }
  th[scope="row"] { max-width: 40%; overflow: hidden; }
  th[scope="row"] div { max-width: 100%; overflow: hidden; }

  /* Cells */
  .obs td, .order td { text-align: center; min-width: 3em; }
  .order .future { font-size: 75%; color: #999; vertical-align: center; }
  .order .stop { font-weight: bold; color: #f66; font-size: 60%; text-transform: uppercase; }
  .command {
    color: #09e;
    background: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
    padding-top: 1em;
    padding-bottom: 3em;
  }

  /* Tiles */
  #tiles { table-layout: fixed; width: 100%; }
  .tile { height: 3em; overflow: hidden; white-space: nowrap; padding: 16px; }
  .tile div { width: 100%; overflow: hidden; }
  .tile .heading {
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .tile .value { font-size: 3.6em; }
  .tile .caption { font-size: 1.8em; }

  #tiles tr, thead tr {
    /* Use linear-gradient to get a border thickness of 1 device pixel. */
    background-image: linear-gradient(
        0deg, transparent 33%, rgba(0, 0, 0, 0.2) 33%, rgba(0, 0, 0, 0.2));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
</style>

<script src="jquery-1.5.1.min.js"></script>
<script src="freezeheader.js"></script>
<script>
$(document).ready(function() {
  $('#grid').freezeHeader({top: true, left: true});
});
</script>

<!-- Use double-quotes for HTML attributes; single-quotes for JS/Pebble strings. -->

<table id="tiles" cellspacing="0" cellpadding="0">
  {% for section in tilesections %}
  <tr>
  {% for tile in section %}
    {% if loop.index % 4 == 0 %}<tr>{% endif %}
    <td class="tile" width="25%" class="{{...tile.in_range ? ...}}">
      <div class="heading">{{ tile.heading }}</div>
      <div class="value" id="uuid...">
        {% if js[tile.concept] is null %}

        {% set value = tile.value %}
          {{value | defaultformat(tile.format) }}

        {% if value.number != null %}
          {{value.number | numberformat(tile.numberformat)}}
        {% elseif value.abbrev != null %}
          {{value.abbrev}}
        {% elseif value.text != null %}
          {{value.text}}
        {% elseif value.bool != null %}
          {{value.bool ? 'Yes' : 'No'}}
        {% else %}
          &#x2013;
        {% endif %}
      </div>
      {% if value.abbrev != null %}
        <div class="caption">{{value.name}}</div>
      {% endif %}
    </td>
    {% if loop.index % 4 == 3 or loop.index == tiles.size - 1 %}</tr>{% endif %}
  {% endfor %}
</table>

<script>
  {% for tile in tiles %}
    {% if js[tile.concept] %}
      element.innerText = {{ js[tile.concept] }}({{ tile.value }})
    {% endif %}
  {% endfor %}
</script>

<div id="grid-scroller" style="width: 100%; overflow: scroll">
  <table id="grid" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th> </th>
        {% for column in columns %}
          <th class="{{column.start == nowColumnStart ? 'now' : ''}}" scope="col">
            {{column.headingHtml | raw}}
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="rowgroup">
          Observations
        </th>
      </tr>
      {% for row in rows %}
        <tr class="obs">
          <th scope="row">
            {{row.heading}}
          </th>
          {% for column in columns %}
            {% set values = get_values(row=row, column=column) %}
            <td class="{{column.start == nowColumnStart ? 'now' : ''}}"
               onclick="popup({{row.heading | js}},
              {% if values is empty %}
                []
              {% else %}
                [ {%- for value in values -%}
                  [{% if value.name != null %}{{value.name | js}}
                  {% elseif value.text != null %}{{value.text | js}}
                  {% elseif value.number != null %}{{value.number | js}}
                  {% else %}{{value.bool ? '\'Yes\'' : '\'No\''}}{% endif %},
                  {{value.observed | dateformat('HH:mm') | js}}],
                {%- endfor -%} ]
              {% endif %} )">
              {% if values is not empty %}
                {% set last = values | last %}
                {% if last.number != null %}
                  {{values | avg | numberformat('#.#')}}
                {% elseif last.abbrev != null %}
                  {{last.abbrev}}
                {% elseif last.text != null %}
                  <div onclick="alert(''
                    {%- for value in values -%}
                      + '---- '
                      + {{value.observed | dateformat('dd MMM \'at\' HH:mm') | js}}
                      + ' ----\n'
                      + {{value.text | js}}
                      + '\n\n'
                    {%- endfor -%})">&#x1f4dd;</div>
                {% elseif last.bool != null %}
                  {{(values | max).bool ? '&#x25cf;' : '' | raw}}
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

    <tbody>
      <tr>
        <th scope="rowgroup">
          Treatment Plan
        </th>
      </tr>
      {% for order in orders %}
        <tr class="order">
          <th scope="row">
            {{order.instructions}}
          </th>
          {% set previousActive = false %}
          {% set future = false %}
          {% for column in columns %}
            <td class="{{column.start == nowColumnStart ? 'now' : ''}}">
              {% set active = intervals_overlap(order.interval, column.interval) %}
              {% if order.stop == null and previousActive %}
                <div class="future">&nbsp;</div>
              {% elseif order.stop != null and previousActive and not active %}
                <div class="stop">Stop</div>
              {% elseif active %}
                {% if future %}
                  <div class="future active">&#x25cf;</div>
                {% else %}
                  {% set count = get_order_execution_count(order_uuid=order.uuid, column=column) %}
                  <div class="past active"
                      onclick="controller.onOrderCellPressed('{{order.uuid}}', {{column.start.getMillis}})"
                      >{{count}}</div>
                {% endif %}
              {% endif %}
              {% set previousActive = active %}
              {% set future = future or column.start == nowColumnStart %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}

      <tr>
        <th class="command" onclick="controller.onNewOrderPressed()">
          Add a New Treatment
        </th>
      </tr>
    </tbody>

    <script>
      function popup(name, values) {
        var dialog = document.getElementById('obs-dialog');
        var html = '<h2>' + name + '</h2>';
        var text = name + '\n\n';
        if (values.length > 0) {
          for (var i = 0; i < values.length; i++) {
            var value = values[i][0], observed = values[i][1];
            html += '<b>' + value + '</b> at ' + observed + '<br>';
            text += value + ' at ' + observed + '\n';
          }
          html += '&nbsp;<br>Comments <input type="text" size="40">';
        } else {
          html += 'No observations.';
          text += 'No observations.';
        }
        alert(text);
        return;
        dialog.innerHTML = html;
        dialog.showModal();
      }
    </script>
  </table>
</div>

