<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2015 The Project Buendia Authors

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License.  You may obtain a copy
    of the License at: http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed
    under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
    OR CONDITIONS OF ANY KIND, either express or implied.  See the License for
    specific language governing permissions and limitations under the License.
-->
<manifest
    package="org.projectbuendia.client"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <!-- used for a unique identifier for forms for JavaRosa in ODK Collect -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- used for ODK collect forms -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required for fetching data. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to check if there is a connection to the internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Required to check if there is a connection to the internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required to fix wifi connectivity -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="org.projectbuendia.client"
        />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <uses-library android:name="android.test.runner" />

        <!-- Content Provider for ODK forms. -->
        <provider
            android:name="org.odk.collect.android.provider.FormsProvider"
            android:authorities="${applicationId}.odk.collect.android.provider.odk.forms"
            android:exported="false"
            />

        <!-- Content Provider for ODK form instances. -->
        <provider
            android:name="org.odk.collect.android.provider.InstanceProvider"
            android:authorities="${applicationId}.odk.collect.android.provider.odk.instances"
            android:exported="false"
            />

        <!-- Content Provider for medical records. -->
        <provider
            android:name=".providers.BuendiaProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            />

        <activity
            android:name=".ui.AuthorizationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait"
            >
        </activity>
        <activity
            android:name=".ui.lists.LocationListActivity"
            android:label="@string/title_location_list"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait"
            >
        </activity>
        <activity
            android:name=".ui.lists.FilteredPatientListActivity"
            android:label="@string/title_patient_list"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.lists.LocationListActivity"
            android:screenOrientation="userPortrait"
            >
        </activity>
        <activity
            android:name=".ui.chart.PatientChartActivity"
            android:label="@string/title_patient_chart"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.lists.FilteredPatientListActivity"
            android:screenOrientation="userPortrait"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"
                />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.lists.FilteredPatientListActivity"
                />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.lists.FilteredPatientListActivity"
            android:screenOrientation="userPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.lists.FilteredPatientListActivity"
                />
        </activity>
        <activity
            android:name=".ui.lists.SingleLocationActivity"
            android:label="@string/title_single_location"
            android:parentActivityName=".ui.lists.LocationListActivity"
            android:screenOrientation="userPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.lists.LocationListActivity"
                />
        </activity>
    </application>
</manifest>
