<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.msf.records" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.msf.records.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.PatientListActivity"
            android:label="@string/title_patient_list" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PatientDetailActivity"
            android:label="@string/title_patient_detail"
            android:parentActivityName=".ui.PatientListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.msf.records.PatientListActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.PatientListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.msf.records.PatientListActivity" />
        </activity>

        <activity
            android:name=".ui.PatientAddActivity"
            android:label="@string/title_activity_patient_add" >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="0a31f10a42050e1a7c9ce97ace4fda4c5235f280"/>
    </application>

</manifest>